.Toggle {
  display: flex;
  align-items: center;
  width: fit-content;
}
.Toggle-span {
  margin-left: 0.5rem;
}
.Toggle-span-false {
  color: var(--lightGray);
}
.Toggle > span:first-child {
  margin-left: 0;
}
.Toggle-input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.Toggle-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 2.5rem;
  height: 1.25rem;
  background: var(--darkGray);
  display: block;
  border-radius: 1.25rem;
  position: relative;
}
.Toggle-label:after {
  content: '';
  position: absolute;
  top: 1.95px;
  left: 2px;
  width: 1rem;
  height: 1rem;
  background: #fff;
  border-radius: 1rem;
  transition: all 0.3s;
}
.Toggle-input:checked + .Toggle-label {
  background: var(--normalBlue);
}
.Toggle-input:checked + .Toggle-label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}
.Toggle-label:active:after {
  width: 1rem;
}
