.TextArea-label {
  width: 100%;
}
.TextArea-container__el {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0.3rem 1rem !important;
  resize: none;
  width: 100%!important;
  height: 100%!important;
  padding: 0;
  border: var(--normalBorder);
  box-sizing: border-box;
}
.TextArea-container__el:focus {
  outline: var(--focusOutline);
  background-color: var(--backgroundBlue);
}
