.UpladWindow {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.UploadUpper {
  display: flex;
  flex: row;
  width: 100%;
}

.UploadLower {
  display: flex;
  flex: row;
  width: 100%;
  border: 1px solid var(--darkGray);
  justify-content: center;
  > h4 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
