.UpladWindow {
  display: flex;
  flex-direction: column;
}
.UploadUpper {
  display: flex;
  flex: row;
  width: 350px;
}
.UploadLower {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: row;
  border: var(--normalBorder);
  justify-content: center;
  height: 7rem;
}
.UnorderedList {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.Default {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ListItem {
  list-style-type: none;
  margin-left: 0px;
  border-bottom: var(--normalBorder);
}
.ListItem:last-child {
  border-bottom: none;
}
.uploadInput {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}
.FileRow {
  color: black;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
  align-items: center;
}
.FileRow img {
  border-left: 1px var(--darkerGray) dotted;
  padding-left: 5px;
}
.FileRow .File {
  padding-left: 10px;
  overflow: hidden;
  white-space: nowrap;
}
.FileRow .Close {
  margin-left: auto;
  color: var(--darkGray);
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.FileRow:hover {
  cursor: pointer;
}
.listBox {
  border: var(--normalBorder);
  border-bottom: none;
}
.FileIcon {
  width: 1rem;
  height: auto;
}
