.Recipients {
    width: 100%;
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: .8rem;
    }

    &-buttons {
        margin: 1rem;
    }
}

// @media(max-width: 1024px) {
//     .Recipients {
//         width: 60%
//     }
// }
// @media(max-width: 880px) {
//     .Recipients {
//         width: 80%
//     }
// }
