.Recipients {
    width: 55%;
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: .8rem;
    }

    &-buttons {
        margin: 1rem;
    }
}

.tooltip {
    color: rgb(255, 255, 255);
    background: blue;
    border-radius: 100px;
    width: 1rem;
    height: 1rem;
    text-align: center;
    cursor: pointer;
}

@media(max-width: 1024px) {
    .Recipients {
        width: 60%
    }
}
@media(max-width: 880px) {
    .Recipients {
        width: 80%
    }
}
