.Checkbox {
  display: flex;
  width: fit-content;
  font-size: inherit;
  align-items: center;
}
.Checkbox-input {
  -webkit-appearance: none;
  background-color: #fff;
  border: var(--strongBorder);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 6px;
  display: inline-block;
  position: relative;
}
.Checkbox-input:checked {
  background-color: #fff;
  border: var(--strongBorder);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.5);
}
.Checkbox-input:checked:after {
  content: '\2714';
  font-size: 10px;
  font-weight: 600;
  position: absolute;
  top: 0px;
  left: 2px;
  color: #000;
}
.Checkbox-input:active,
.Checkbox-input:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
