.Header {
  background-color: var(--darkWhite);
  border-top: 1px solid var(--darkGray);
  border-bottom: 1px solid var(--darkGray);
  padding: 4px 0 4px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 3rem;
}

.HeaderLeft {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-left: 10px;

  img {
    padding-right: 10px;
  }

  .Texts {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-self: center;
    padding-left: 5px;
    border-left: 2px solid var(--darkGray);
    //var(--strongBorder(32, 32, 32, 0.5));

    .smallText {
      font-size: 12px;
      color: var(--lighGray);
    }

    .largeText {
      font-size: 16px;
      color: var(--darkerGray);
      font-weight: bold;
    }
  }
}

.HeaderRight {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  align-self: center;
  margin-right: 10px;
  align-items: baseline;
  .FirstButton {
    background-color: var(--darkerGray);
    color: var(--white);
    border: none;
    padding: 7px 5px 7px 5px;
    border-radius: 2px;
    cursor: pointer;
  }

  .SecondButton {
    background-color: var(--darkWhite);
    color: var(--darkerGray);
    border: none;
    padding: 7px 5px 7px 5px;
    cursor: pointer;
  }

  img {
    height: 16px;
    padding-top: 7px;
  }
}
