.Send {
  width: 55%;
  margin: auto;
}
.Send-message {
  display: flex;
  flex-direction: column;
}
.firstBox {
  width: 62.5%;
  margin-right: 5%;
}
.secondBox {
  width: 32.5%;
}
@media (max-width: 1024px) {
  .Send {
    width: 60%;
  }
}
@media (max-width: 880px) {
  .Send {
    width: 80%;
  }
}
