.NormalInput {
    &-label {
        width: 100%;
    }
    &-container {

        &__el {
            padding: 0 1rem!important;
            color: inherit;
            font-size: inherit;
            font-weight: inherit;
            width: 100%;
            line-height: 2rem;
            padding: 0;
            border: var(--normalBorder);
            box-sizing: border-box;
            &:focus {
                outline: var(--focusOutline);
            }
        }

        &__hasError {
            padding-right: 3rem!important;
            box-shadow: none!important;
            border: var(--errorBorder);
            background: url('../../Assets/warning.svg') no-repeat scroll right center #fff ;
            background-color: #fff;
            background-size: 1rem;
            background-position-x: 95%;
            &:focus {
                outline: var(--errorBorder);
            }
        }
    }
}
