.Button {
  border: none;
  box-shadow: none;
  cursor: pointer;
  background-color: var(--normalBlue);
  color: #fff;
  padding: 0.3rem 1rem;
  border-radius: 24px;
  font-size: inherit;
  width: fit-content;
}
.Button:hover {
  background-color: var(--darkerBlue);
}
.Button:active {
  background-color: var(--darkBlue);
}
.Button:focus {
  outline: none;
}
.Link {
  border: none;
  box-shadow: none;
  cursor: pointer;
  padding: 0;
  border-radius: 24px;
  background-color: #fff;
  color: var(--normalBlue);
  font-weight: 500;
  font-size: inherit;
  width: fit-content;
}
.Link:hover {
  color: var(--darkerBlue);
}
.Link:active {
  color: var(--darkBlue);
}
.Link:focus {
  outline: none;
}
